
.btnGetInvite{
    background-color: black;
    font-family: "DM Sans";
    font-size: 15px;
    font-style: normal;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    height: 48px;
    width: 100%;
    border: 0px;
}

@media (min-width: 768px) {
    .btnGetInvite{
        font-size: 12px;
        height: 40px;
        width: 158px;
        line-height: 16px;
        letter-spacing: 2px;
    }
}