.navbar{
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    top: 0px;
    z-index: 1;
}

.nbcontainer{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 100%;
    padding: 0px 24px;
    top: 0px;
    opacity: 1;
}


.logo {
    position: relative;
    height: 16px;
    width: 170px;
}

.menu{
    display: none;
}

.imgMenu{
    position: relative;
    height: 6px;
    width: 20px;
}

.drawer{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 253px;
    width: 100%;
    left: 0px;
    padding: 0px 38px;
    background-color: white; 
    transition: all 0.5s ease-in;
    z-index: -1;
}

.drawerShow{
    top: 72px;
}

.drawerHidden{
    top: -253px;
}

.btn{
    display: none;
}


@media (min-width: 768px) {
    .nbcontainer{
        padding: 0px 40px;
    }

    .menu{
        display: flex;
    }

    .imgMenu{
        display: none;
    }

    .btn{
        display: inline;
    }
}


@media (min-width: 1024px) {
    .nbcontainer{
        padding: 0px 165px;
    }
}




