.navbar{
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    width: 100%;
    padding: 0px 24px;
    top: 0px;
    opacity: 1;
    z-index: 1;
}


.logo {
    position: relative;
    height: 16px;
    width: 170px;
}

.menu{
    display: none;
}

.imgMenu{
    position: relative;
    height: 6px;
    width: 20px;
}

.drawer{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 253px;
    width: 100%;
    left: 0px;
    padding: 0px 38px;
    background-color: white; 
    transition: all 0.5s ease-in;
    z-index: -1;
}

.drawerShow{
    top: 72px;
}

.drawerHidden{
    top: -253px;
}


.ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px;
    margin-top: 30px;
    /* justify-content: center; */
    align-items: center;;
}

.ul li{
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2.5px;
    color: black;
}

.btn{
    display: none;
}


@media (min-width: 768px) {
    .container{
        padding: 0px 40px;
    }

    .menu{
        display: flex;
    }

    .ul{
        flex-direction: row;
        margin-top: 15px;
    }

    .ul li{
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
    }

    .imgMenu{
        display: none;
    }

    .btn{
        display: inline;
    }
}


@media (min-width: 1024px) {
    .container{
        padding: 0px 80px;
    }
}

@media (min-width: 1280px) {
    .container{
        padding: 0px 80px;
        max-width: 1440px;
    }
}



