.sectionfeaturesContainer{
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: 80px 24px;
    gap: 40px;
}

@media (min-width: 768px) {
    .sectionfeaturesContainer{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 20px;
    }
}

@media (min-width: 1024px) {
    .sectionfeaturesContainer{
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        column-gap: 20px;
    }
}